<h1>Bonjour<%= "#{@user.first_name}" %></h1>
<p>Nous t'informons que : <%= @event.category %>, en date du : <%= @event.start_date %> est annulé.</p>
<p>N'hésite pas à te tenir informé des prochains évènements qui seront créés sur <a href="https://la-maison-des-sons.fly.dev/">La Maison des Sons</a>!</p>