<h1>Bonjour <%= "#{@user.first_name}" %></h1>
<p> Nous avons appris que : <%= @event.category %>, en date du : <%= @event.start_date %> </p>
<p> a été annulé... . N'hésitez pas à vous tenir informé des prochains évènements qui seront créés ! </p>