Salut et bienvenue chez nous !
==========================================================

Tu t'es inscrit sur <a href="https://la-maison-des-sons.fly.dev/">La Maison des Sons</a> en utilisant l'e-mail suivant : <%= @user.email %>.

Pour accéder à ton espace client, connecte-toi via : <%= @url %> avec le mot de passe suivant : <%= @password %>.

À très vite sur <a href="https://la-maison-des-sons.fly.dev/">La Maison des Sons</a> !
