<head>
  <% content_for :title, "Création actualité" %>
  <% content_for :meta_description, "Vous permet de créer une actualité." %>
</head>

<div class="d-flex flex-column align-items-center" id="news">
  <h2 class="w-75 text-center header_section align-items-center my-5">Créer une actualité</h2>
</div>
<div class= "d-flex justify-content-center my-4">
  <%= render "form", topic: @topic %>
</div>


