<head> <!-- Add meta_description to the view -->
  <% content_for :title, "Nous contacter" %>
  <% content_for :meta_description, "Vous permet de contacter le service administration pour toute information." %>
</head>
<div class="d-flex justify-content-center">
  <div class="col-6">
    <div class="my-5 d-flex align-items-center gap-3">
      <h2 class="w-100 text-center header_section">Nous contacter</h2>
    </div>
  </div>
</div> 

<%= render "/contact_form/contact_form" %>