<h1>Modifier l'évènement</h1>

<div class="d-flex event_form justify-content-center">

  <%= render "form", event: @event %>

</div>

<div>
  <%= link_to "Retour", @event %> |
  <%= link_to "Accueil", events_path %>
</div>
