

<div class="d-flex flex-column align-items-center my-5">
<h2 class="w-75 text-center header_section">Modifier l'évènement</h2>

</div>

<div class="d-flex event_form justify-content-center mb-3">

  <%= render "form", event: @event %>

</div>


