<head> <!-- Add meta_description to the view -->
  <% content_for :title, "Modification d'évènement" %>
  <% content_for :meta_description, "Vous permet de modifier un évènement dont les informations auraient changé." %>
</head>

<div class="d-flex flex-column align-items-center my-5">
<h2 class="w-75 text-center header_section">Modifier l'évènement</h2>

</div>

<div class="d-flex event_form justify-content-center mb-3">

  <%= render "form", event: @event %>

</div>


