<div class="d-flex flex-column align-items-center my-5" id="events">
  <h1 class="w-75 text-center header_section">Création d'un évènement</h1>
</div>

<div class="d-flex event_form justify-content-center mb-3">

  <%= render "form", event: @event %>

</div>

<div class="d-flex justify-content-center mb-3">
  <%= link_to "Accueil", events_path, class: "btn btn-secondary" %>
</div>
