<head>
  <% content_for :title, @event.category %>
  <% content_for :meta_description, "Vous permet de visualiser la page de l'évènement avec toutes les informations le concernant." %>
</head>

<br>
<p class="lmds_success text-center"><%= notice %></p>
<p class="lmds_alert text-center"><%= alert %></p>
<div>
  <% if Event::MUSIC_SHOWS.include?(@event.category) %>
    <%= render partial: 'show_music_show', locals: {event: @event} %>
  <% else %>
    <%= render partial: 'show_music_class', locals: {event: @event} %>
  <% end %>
</div>
