<br>
<p class="lmds_success text-center"><%= notice %></p>
<div>
  <% if Event::MUSIC_SHOWS.include?(@event.category) %>
    <%= render partial: 'show_music_show', locals: {event: @event} %>
  <% else %>
    <%= render partial: 'show_music_class', locals: {event: @event} %>
  <% end %>

</div>
