<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut Admin</h1>
    <p>
      Tu as reçu un nouveau message de contact de <%= @email %> qui dit :
      <%= @message %>.
    </p>
    <p>
    A plus.
    </p>
  </body>
</html>