@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* CHANGE PARAMETERS OF SOME CLASS IN BOOTSTRAP */
body{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #474340;
  background-color: rgb(231, 231, 231);
}

.btn-primary{
  background-color: #c85f4e;
  border: none;
  box-shadow: 1px 1px 4px black;
  --bs-btn-active-bg: #4b4b4b;
  --bs-btn-active-color: #C85F4E;
  transition: 0.5s;
}

.btn-primary:hover{
  background-color: #FCD6B3;
  color: #C85F4E;
  transition: 0.5s;
}

.btn-primary:active{
  scale: 0.9;
  transition: 0.5s;
}


.btn-secondary {
  background-color: #38748d;
  border: none;
  box-shadow: 1px 1px 4px black;
  --bs-btn-active-bg: #4b4b4b;
  --bs-btn-active-color: #59accf;
  transition: 0.5s;
}

.btn-secondary:hover{
  background-color: #9ec6d8;
  color: #38748d;
  transition: 0.5s;
}

.btn-secondary:active{
  scale: 0.9;
  transition: 0.5s;
}

.btn-danger {
  background-color: #b3342b;
  border: none;
  box-shadow: 1px 1px 4px black;
  --bs-btn-active-bg: #424242;
  --bs-btn-active-color: #cf0c0c;
  transition: 0.5s;
}

.btn-danger:hover{
  background-color: #f02f1a;
  color: #491511;
  transition: 0.5s;
}

.btn-danger:active{
  scale: 0.9;
  transition: 0.5s;
}

.btn-warning {
  background-color: #cb9b3c;
  border: none;
  box-shadow: 1px 1px 4px black;
  --bs-btn-active-bg: #424242;
  --bs-btn-active-color: #cb9b3c;
  transition: 0.5s;
}

.btn-warning:hover{
  background-color: #ffe8b9;
  color: #9e7c37;
  transition: 0.5s;
}

.btn-warning:active{
  scale: 0.9;
  transition: 0.5s;
}



.navbar-toggler{
  color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1), 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* CSS FOR GENERAL CLASS */

.header_section{
  border-bottom: 5px solid #C85F4E;
}


/* CSS FOR THE NAVBAR */

.style_navbar{
  background-color: #00000077;
  z-index: 2;
  position: fixed;
  width: 100%;
  transition: 0.5s;
}

.border_burger{
  border: 1px solid white;
}

.style_navbar:hover{
  background-color: #000000b9;
  transition: 0.5s;
}

.nav_link{
  color: white;
  text-decoration: none;
  padding: 5px;
  transition: 0.5s;
  font-weight: 400;
}
.nav_link:hover{
  background-color: #c85e4ea6;
  border-radius: 5px;
  transition: 0.5s;
}

.logo_nav{
  width: 150px;
  height: 50px;
}

.dropdown_button{
  background-color: transparent;
  border: none;
}

.custom_dropdown_menu{
  background-color: #00000067;
  transition: 0.5s;
}

.custom_dropdown_menu:hover{
  background-color: #000000af;
  transition: 0.5s;
}

@media screen and (max-width: 992px){
  .style_navbar{
background-color: #474340;
    z-index: 2;
    position: absolute;
    width: 100%;
  }
  .navbar-collapse .justify-content-around li{
    margin-top: 10px;
  }
}
  

@media screen and (min-width: 992px) {
  .navbar-collapse ul{
  align-items: center;    /* KEEP THE ALIGN ITEMS UNTIL THE PAGE WIDTH IS UNDER 992 px */
}

.bg_hero{
  background-image: url('https://static.wixstatic.com/media/e5c132_43c8af2a835f41029a93a85ae02c8523.jpg/v1/fill/w_1014,h_676,al_c,q_85,usm_0.66_1.00_0.01/e5c132_43c8af2a835f41029a93a85ae02c8523.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px ;
}

}

/* HERO */



/* SIGN_UP / SIGN_IN */

.btn_primary_lmds {
  color: white;
  background-color: #c85f4e;
  border: none;
  transition: 0.2s;
}

.btn_primary_lmds:hover {
  background-color: #c85f4e;
  scale: 1.1;
  transition: 0.2s;
}

.lmds_title {
  color: #474340;
}

.lmds_alert {
  color: #f44336;
  font-weight: 600;
}

.lmds_success {
  color: #4DAB74;
  font-weight: 600;
}

/* CSS FOR THE CARD IN THE INDEX */

.btn_size_card {
  width: 140px !important;
}

.custom_card{
  background-color: #FCD6B3;
  box-shadow: 1px 1px 4px black;
  border: none;
}


/* CSS FOR THE SHOW EVENT */

.bg_img{
  background-image: url('https://media.istockphoto.com/id/1478375497/fr/photo/des-amis-dansent-au-festival.jpg?s=2048x2048&w=is&k=20&c=fIz_Fn7SexMUa4giD1K_wK81Z64clzlK5YjMToVb1d8=');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.466);
}

.bg_blur{
  backdrop-filter: blur(10px);
}

.separation{
  border-right: 1px solid #474340;
}

/* CSS FOT THE AGENDA */
.agenda_container {
  margin: 3rem;
}

.separation_agenda{
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  background-color: #FCD6B3;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.514);
}

.badge{
  background-color: #C85F4E;
}


/* USER SHOW */
.lmds_background {
  border-radius: 5px 50px 5px 50px;
  background-color: #fcd6b3;
  box-shadow: 1px 1px 10px black;
}

.lmds_profile_border {
  border-bottom: 1px solid #474340;
}


/* FOOTER */

.footer_haut {
  background-color: #474340;
  color: #ffff;
  height: 18em;
  
}

.footer_haut h5 {
  border-bottom: 1px solid white;
}

.footer_bas {
  background-color: #2a5a6f;
  height: 2em;
}

.footer_link {
  color: white;
  text-decoration: none;
}

.footer_link:hover {
  text-decoration: underline;

}

.bi-facebook {
  color: blue;
}

.bi-youtube {
  color: red;
}

/* CSS FOR FORM EDIT AND NEW EVENT */

.form_edit {
  width: 25%;
  transition: 1s;
}

@media screen and (max-width: 992px){
  .form_edit {
    width: 50%;
    transition: 1s;
  }
}

/* CSS FOR SENDING NEW PASSWORD */
.form_recover_password {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 1s;
}

@media screen and (max-width: 992px){
  .form_recover_password {
    width: 50%;
    transition: 1s;
  }
}