/* SIGN_UP / SIGN_IN */

.btn_primary_lmds {
  color: white;
  background-color: #c85f4e;
  border: none;
  transition: 0.2s;
}

.btn_primary_lmds:hover {
  background-color: #c85f4e;
  scale: 1.1;
  transition: 0.2s;
}

.lmds_title {
  color: #474340;
}

.lmds_alert {
  color: #f44336;
  font-weight: 600;
  text-decoration: underline;
}

/* USER SHOW */
.lmds_background {
  border-radius: 5px 50px 5px 50px;
  background-color: #fcd6b3;
  box-shadow: 1px 1px 10px black;
}

.lmds_profile_border {
  border-bottom: 1px solid #474340;
}