@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* CHANGE PARAMETERS OF SOME CLASS IN BOOTSTRAP */
body{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #474340;
  background-color: rgb(231, 231, 231);
}

.btn-secondary {
  background-color: #50A3C7;
  box-shadow: 1px 1px 4px black;
}


/* CSS FOR GENERAL CLASS */

.header_section{
  border-bottom: 5px solid #C85F4E;
}


/* SIGN_UP / SIGN_IN */

.btn_primary_lmds {
  color: white;
  background-color: #c85f4e;
  border: none;
  transition: 0.2s;
}

.btn_primary_lmds:hover {
  background-color: #c85f4e;
  scale: 1.1;
  transition: 0.2s;
}

.lmds_title {
  color: #474340;
}

.lmds_alert {
  color: #f44336;
  font-weight: 600;
  text-decoration: underline;
}

/* CSS FOR THE CARD IN THE INDEX */

.btn_size_card {
  width: 130px !important;
}

.custom_card{
  background-color: #FCD6B3;
  box-shadow: 1px 1px 4px black;
  border: none;
}


/* CSS FOR THE SHOW EVENT */

.bg_img{
  background-image: url('https://media.istockphoto.com/id/1478375497/fr/photo/des-amis-dansent-au-festival.jpg?s=2048x2048&w=is&k=20&c=fIz_Fn7SexMUa4giD1K_wK81Z64clzlK5YjMToVb1d8=');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 4px 4px black;
}

.bg_blur{
  backdrop-filter: blur(10px);
}

.separation{
border-right: 1px solid #474340;
}


/* USER SHOW */
.lmds_background {
  border-radius: 5px 50px 5px 50px;
  background-color: #fcd6b3;
  box-shadow: 1px 1px 10px black;
}

.lmds_profile_border {
  border-bottom: 1px solid #474340;
}